<h2 id="publications">Publications</h2>
___
<ul class="list-inline footer-links">
<li class="list-inline-item">
	<a href="https://scholar.google.com/{{ site.social-network-links.google-scholar }}" target="_blank" title="Google Scholar">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
		</span>
		See an up-to-date publication list on my Google Scholar profile
		<span class="sr-only">Google Scholar</span>
 </a>
</li>
</ul>
____
<ul>
<br>
<li>Nicholas J. East, Ben E. Clifton, Colin J. Jackson, <strong>Joe A Kaczmarski</strong>. 2022. <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/pro.4510">The role of oligomerization in the optimization of cyclohexadienyl dehydratase conformational dynamics and catalytic activity. </a> <strong><em>Protein Science</em></strong> 16 Nov. https://doi.org/10.1002/pro.4510</li>
<li>Cagla Ergun Ayva, Maria M.Fiorito, Zhong Guo, Selvakumar Edwardraja, <strong>Joe A Kaczmarski</strong>, Dejan Gagoski, Patricia Walden, Wayne A.Johnston, Colin J.Jackson, TomNebl, Kirill Alexandrov. 2022. <a href="https://www.sciencedirect.com/science/article/pii/S0022283622002704">Exploring Performance Parameters of Artificial Allosteric Protein Switches. </a> <strong><em>Journal of Molecular Biology</em></strong> 15 Sept. https://doi.org/10.1016/j.jmb.2022.167678</li>
<li>Yvonne Joho, Vanessa Vongsouthi, Matthew A. Spence, Jennifer Ton, Chloe Gomez, Li Lynn Tan, <strong>Joe A Kaczmarski</strong>, Alessandro T. Caputo, Santana Royan, Colin J. Jackson, and Albert Ardevol. 2022. <a href="https://pubs.acs.org/doi/full/10.1021/acs.biochem.2c00323">Ancestral Sequence Reconstruction Identifies Structural Changes Underlying the Evolution of Ideonella sakaiensis PETase and Variants with Improved Stability and Activity </a> <strong><em>Biochemistry</em></strong> Aug 11. https://doi.org/10.1021/acs.biochem.2c00323</li>
<li>Daniel J Ford, Nisharnthi M Duggan, Sarah E Fry, Jorge Ripoll-Rozada, Stijn M Agten, Wenyu Liu, Leo Corcilius, Tilman M Hackeng, Rene van Oerle, Henri MH Spronk, Anneliese S Ashhurst, Vishnu Mini Sasi, <strong>Joe A Kaczmarski</strong>, Colin J Jackson, Pedro José Barbosa Pereira, Toby Passioura, Hiroaki Suga, Richard J Payne. 2021. <a href="https://pubmed.ncbi.nlm.nih.gov/34044534/">Potent Cyclic Peptide Inhibitors of FXIIa Discovered by mRNA Display with Genetic Code Reprogramming. </a> <strong><em>Journal of Medicinal Chemistry</em></strong> May 27. doi: 10.1021/acs.jmedchem.1c00651.</li>
<li>Spence MA<sup>*</sup>, <strong>Kaczmarski JA<sup>*</sup></strong>, Saunders JW & Jackson CJ. 2021. <a href="https://authors.elsevier.com/c/1d6F-,LqArIa5h">Ancestral sequence reconstruction for protein engineers. </a> <strong><em>Curr. Opin. Struct. Biol.</em></strong> 12: 2511.</li>
<li>Izoré, T, Candace H, <strong>Kaczmarski JA</strong>, Gavriilidou A, Chow KH, Steer DL,  Goode RJA, Schittenhelm RB, Tailhades J, Tosin M, Challis GL, Krenske EH, Ziemert N, Jackson CJ & Cryle MJ. 2021. <a href="https://doi-org.virtual.anu.edu.au/10.1038/s41467-021-22623-0">Structures of a non-ribosomal peptide synthetase condensation domain suggest the basis of substrate selectivity. </a><strong><em>Nature Communications</em></strong> 12: 2511. </li>
<li>Chatterjee D, Lewis FJ, Sutton HJ, <strong>Kaczmarski JA</strong>, Gao X, Cai Y, McNamara HA, Jackson CJ, Cockburn IA. 2021. <a href="https://doi.org/10.1016/j.celrep.2021.108996">Avid binding by B cells to the <em>Plasmodium</em> circumsporozoite protein repeat suppresses responses to protective subdominant epitopes.</a> <strong><em>Cell Reports</em></strong> 35(2):108996</li>
<li><strong>Kaczmarski JA</strong>, Mahawaththa MC, Feintuch A, Clifton BE, Adams LA, Goldfarb D, Otting G, Jackson CJ. 2020. <a href="https://doi.org/10.1038/s41467-020-19695-9">Altered conformational sampling along an evolutionary trajectory changes the catalytic activity of an enzyme.</a> <strong><em>Nature Communications</em></strong> 11:5945</li>
<li><strong>Kaczmarski JA</strong>, Hong NS, Mukherjee B, Wey LT, Rourke L, Förster B, Peat TS, Price GD, Jackson CJ. 2019. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.biochem.9b00880">Structural basis for the allosteric regulation of the SbtA bicarbonate transporter by the PII-like protein, SbtB, from <em>Cyanobium</em> sp. PCC7001.</a> <strong><em>Biochemistry</em></strong> 58:5030–5039. </li>
<li><strong>Kaczmarski JA</strong>, Mitchell JA, Spence MA, Vongsouthi V, Jackson CJ. 2019. <a href="https://www.sciencedirect.com/science/article/pii/S0959440X1830126X">Structural and evolutionary approaches to the design and optimization of fluorescence-based small molecule biosensors.</a> <strong><em>Curr Opin Struct Biol</em></strong> 57:31–38. </li>
<li>Greule A, Izoré T, Iftime D, Tailhades J, Schoppet M, Zhao Y, Peschke M, Ahmed I, Kulik A, Adamek M, Goode RJA, Schittenhelm RB, <strong>Kaczmarski JA</strong>, Jackson CJ, Ziemert N, Krenske EH, De Voss JJ, Stegmann E, Cryle MJ. 2019. <a href="https://www.nature.com/articles/s41467-019-10384-w">Kistamicin biosynthesis reveals the biosynthetic requirements for production of highly crosslinked glycopeptide antibiotics.</a> <strong><em>Nat Commun</em></strong> 10:2613. </li>
<li>Izoré T, Tailhades J, Hansen MH, <strong>Kaczmarski JA</strong>, Jackson CJ, Cryle MJ. 2019. <a href="https://www.pnas.org/content/116/8/2913.short"><em>Drosophila melanogaster</em> nonribosomal peptide synthetase Ebony encodes an atypical condensation domain.</a> <strong><em>Proc Natl Acad Sci USA</em></strong> 116:2913–2918. </li>
<li>Clifton BE, <strong>Kaczmarski JA</strong>, Carr PD, Gerth ML, Tokuriki N, Jackson CJ. 2018. <a href="https://www.nature.com/articles/s41589-018-0043-2">Evolution of cyclohexadienyl dehydratase from an ancestral solute-binding protein.</a> <strong><em>Nat Chem Biol</em></strong> 14:542–547. </li>
<li>Fisher CR, Sutton HJ, <strong>Kaczmarski JA</strong>, McNamara HA, Clifton B, Mitchell J, Cai Y, Dups JN, D’Arcy NJ, Singh M, Chuah A, Peat TS, Jackson CJ, Cockburn IA. 2017. <a href="https://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1006469">T-dependent B cell responses to <em>Plasmodium</em> induce antibodies that form a high-avidity multivalent complex with the circumsporozoite protein.</a> <strong><em>PLoS Pathog</em></strong> 13:1–23.</li>
<li><strong>Kaczmarski JA</strong>, Corry B. 2014. <a href="https://www.tandfonline.com/doi/full/10.4161/chan.28136">Investigating the size and dynamics of voltage-gated sodium channel fenestrations: A molecular dynamics study.</a> <strong><em>Channels</em></strong> 8:264–277. </li>
<br>
<sup>*</sup> authors contributed equally
<br>
</ul>


___
<!---<h4 id="pre-prints">Pre-prints</h4>
<ul>
<li> </li>
</ul>--->